.navbar {
  background-color: #e1e1e1;
}

.is-current-page,
.nav-menu .title a,
.doc a,
.navbar-brand .navbar-item:first-child {
  color: #0050c0;
}

.navbar-brand {
  width: 100%;
  justify-content: space-between
}

.doc {
  max-width: 80%;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  color: #0050c0;
  font-weight: 500;
}

footer.footer {
  padding: 1rem;
}

body{
  font-family: Panton, sans-serif;
}

@font-face {
  font-family: Panton;
  font-style: normal;
  font-weight: 400;
  src: local("Panton Regular"), local("Panton-Regular"), url(../font/panton.otf) format("opentype")
}

@font-face {
  font-family: Panton;
  font-style: italic;
  font-weight: 400;
  src: local("Panton Italic"), local("Panton-Italic"), url(../font/panton-italic.otf) format("opentype")
}

@font-face {
  font-family: Panton;
  font-style: normal;
  font-weight: 500;
  src: local("Panton Bold"), local("Panton-Bold"), url(../font/panton-bold.otf) format("opentype")
}

@font-face {
  font-family: Panton;
  font-style: italic;
  font-weight: 500;
  src: local("Panton Bold Italic"), local("Panton-Bold-Italic"), url(../font/panton-bold-italic.otf) format("opentype")
}
