<header class="header" role="banner">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
              👻👨🏼 // {{site.title}}
            </a>
            {{#if env.DOCSEARCH_ENABLED}}
            <div class="navbar-item">
              <input id="search-input" type="text" placeholder="Search docs">
            </div>
            {{/if}}
        </div>
    </nav>
</header>
